.book-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }
  
  .book-title {
    margin-bottom: 5px;
  }
  
  .book-info {
    margin: 0;
  }
  
  .book-form {
    margin-bottom: 20px;
  }
  
  .book-details {
    margin-top: 10px;
  }
  
  .book-delete {
    margin-top: 5px;
    color: red;
  }
  